@media screen and (max-width: 425px) {
   *{
	box-sizing: border-box;
}
body {
	margin: 0px;
	background-color: lightgrey;
	
}
.aa1 .aaa {
	width: 100%;
	height: 5px;
	border: 1px solid #E56038;
	background-color:#E56038 ;
	border: hidden;
	margin-top: -1px;
}
.aa {

	width: 100%;
	height: 300px;
	border: 1px solid #E56038;
	background-color:#E56038 ;
	border: hidden;

}
.aa1 {

	width: 100%;
	height: 170px;
	border: 1px solid lightgrey;
	background-color: #ebe8de;
}
.aa2 {
      display:block;
      list-style-type: none;
      text-decoration: none;
}
.aa2 .a1 {
	font-size: 30px;
	font-family: "comic sans ms";
	margin: 40px 0px 0px 50px;
	color: #E56038;
	font-weight: bold;
}
.aa2 .a2 {
	font-size: 20px;
	font-family: new times roman;
	margin: 0px 0px 0px 130px;
}
.aa2 .a3 {
	font-size: 15px;
	font-family: new times roman;
	margin: 20px 30px 0px 30px;
	color: grey;
}
.aa2 .a4 {
      font-size: 15px;
	font-family: new times roman;
	margin: -17px 0px 0px 90px;
	color: grey;
}
.aa2 .a5 {
	font-size: 15px;
	font-family: new times roman;
	margin: -17px 0px 0px 190px;
	color: grey;
}
.aa2 .a6 {
	font-size: 15px;
	font-family: new times roman;
	margin: -17px 0px 0px 280px;
	color: grey;
} 
.a7{
	display: none;
}
.bb {
	display: inline-flex;
	list-style-type: none;
	text-decoration: none;
}
.bb .b1 {
	font-size: 15px;
	color: white;
	font-family: new times roman;
	margin: 10px -220px 0px 0px;

}
.bb .b2 {
		margin: 45px 0px 0px -40px;
	
}
.b2 input[type=text] {
	border: 1px solid red;
	border-radius: 10px;
	border: hidden;
	height: 30px;
	width: 180px;
}
.b3 {
		margin: 45px 40px 0px 10px;
	
}

.b3 input[type=submit] {
	border: 1px solid red;
	border-radius: 10px;
	border: hidden;
	height: 30px;
	width: 60px;
	background-color: black;
	color: white;
}
.c1 {
	
	width: 58%;
	height: 100px;
	list-style-type: none;
	margin: 70px 0px 0px 110px;
	

}
.cc2 {

	width:58%;
	height: 100px;
	list-style-type: none;
	margin: 50px 0px 0px 110px;
		
}
.cc3 {
	
	width: 58%;
	height: 100px;
	list-style-type: none;
	margin: 80px 0px 0px 110px;
	
}
.c1 .c2 {
font-family: sans-serif;
font-size: 20px;

}
.cc2 .c5 {
font-family: sans-serif;
font-size: 20px;
}
.cc3 .c8 {
 font-family: sans-serif;
 font-size: 20px;
 
}
.c3 {
  margin: -30px 0px 0px -90px;
}
.c6 {
  margin: -30px 0px 0px -90px;
}
.c9 {
  margin: -30px 0px 0px -90px;
}
.c2 {
	padding-top: 20px;
}
.c5 {
	padding-top: 20px;
}
.c8 {
	padding-top: 20px;
}
.c1 .c4 {
font-size: 16px;
 font-family: sans-serif;
 margin-top: -30px;
}
.ca2 .c7 {
font-size: 16px;
 font-family: sans-serif;
 margin-top: -30px;
}
.ca3 .c10 {
font-size: 16px;
 font-family: sans-serif;
 margin-top: -30px;
}
.d1 {
	display: block;
	margin: 0px 0px 0px 10px ;
	width: 50%;

}
.da {
	width: 200px;
	margin: 40px -140px 0px 90px;
}
.db {
	width: 200px;
	margin: 40px -140px 0px 90px;
}
.dc {
	width: 200px;
	margin: 40px -140px 0px 90px;
}
.dd {
	width: 200px;
	margin: 40px -140px 0px 90px;
}
.d1 b {
	border-bottom: 1px solid darkgrey;
	width:200px;
	padding-bottom: 10px;

	
}
h3 {
	margin: 70px 0px 0px 100px;
	border-bottom: 1px solid darkgrey;
	width: 50%;
	padding-bottom: 20px;

}.f {
	 background-color: lightgrey;
      width: 80%;
      height: 400px;
      display: block;
      margin: 10px 0px -80px 50px;
      
}
.f1 li {
	width: 80%;
    font-size: 17px;
    font-family: sans-serif;
      list-style-type: none;
      padding: 40px 0px 0px 0px;
      text-align: justify;
}
.fb {
	width: 250px;
}
.f2 li {
	list-style-type: none;
}
.f2 .fa {
	margin: 30px 0px 0px -20px;
}
.f2 .fc {
	margin: 60px 0px 0px -20px;
}
.f2 .fb {
	margin: -60px -20px 0px 60px;
	font-size: 17px;
	 font-family: sans-serif;

}
.f2 .fd {
	margin: -60px -20px 0px 60px;
	font-size: 17px;
	width: 200px;
	 font-family: sans-serif;
}
.gg {
	border: 1px solid #333;
	width: 100%;
	height: 730px;
	display: block;
	margin-top: 550px;
	background-color:#333;
}
.last {
	width: 80%;
	font-size: 17px;
	font-family: sans-serif;
	margin: 10px 0px 0px 40px;
	color: grey;
	text-align: justify;
}
.las2 {
	width: 80%;
	font-size: 17px;
	font-family: sans-serif;
	margin: 10px 0px 0px 40px;
	color: grey;

}
.las2 p {
	border-bottom: 1px solid darkgrey;
}
.las3 {
	width: 80%;
	font-size: 17px;
	font-family: sans-serif;
	margin: 10px 0px 0px 40px;
	color: grey;
}
h4 {
	border-bottom: 1px solid darkgrey;
	width: 230px;
	color: white;
}
.gc {
	list-style-type: none;
}
.gc h4 {
	padding-left: 30px;
}
.gd {

	font-size: 17px;
	font-family: sans-serif;
margin: -150px 0px 40px 80px;

}
.gc img {
	margin: 0px 0px 80px -35px;
}
.foot {
	width: 100%;
	height: 80px;
	border: 1px solid black;
	display: inline-flex;
	background: black;
	color: darkgrey;
}
.fot {
	list-style-type: none;
	display: inline-flex;
}
.foot p {
	margin: 30px -50px 0px 30px;
}
.fot li {
	margin: 10px -190px 0px 200px;
	display: none;
}
  }